.card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imageContainer {
    max-width: 50%;
    overflow: hidden;
}

.image {
    width: 100%;
    border-radius: 8px 0 0 8px;
}

.detailsContainer {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.productName {
    font-weight: 400;
    font-size: 24px;
    margin-right: 10px;
}


.rateContainer {
    display: flex;
    align-items: center;
    margin-top: 25px
}

.feedback {
    text-decoration: none;
    color: #3e77aa;
    font-size: 13px;
    padding-left: 5px
}

.productDetails {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 20px;
}

.price {
    color: #f84147;
    font-size: 24px;
}

.buyButton {
    border: none;
    background: #00a046;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    flex-grow: 1;
    margin: 0 5px;
}

.buyCredit {
    border: 1px solid #00a046;
    background: #fff;
    color: #00a046;
    border-radius: 4px;
    padding: 10px 20px;
    flex-grow: 1;
    margin: 0 5px;
}

.selections {
    display: flex;
    margin-top: 10px;
}

.select {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.description {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

@media (max-width: 768px) {

    .card {
        flex-wrap: wrap;
    }
}